# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# npm dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# dump pages
dump

# Test code
tests

package
node_modules
dist
build
pg_data
app_volume

